<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-grisSideBar p-0 ">
	<div class="container-fluid d-flex flex-column" id="Sidebar">
		
		<!-- Logo -->
		<a class="text-center mx-0" href="/">
			<img class="align-self-center img-fluid mx-0 float-center w-75 h-75" src="/img/Natgas.png">
		</a>
		
		<p><%- usuario.nombre_usuario %> </p>
		<!-- Pestanas sidebar -->
		<ul class="navbar-nav m-auto w-100" id="accordionSidebar">

			<!-- Dasboard -->
			<li class="nav-item mb-4">
				<a class="nav-link active d-inline" href="/">
					<i class="icon fas fa-tachometer-alt"></i>
					<span>Tablero</span>
				</a>
			</li>

			<!-- Proyectos -->
			<li class="nav-item mb-4" id="tab-proyectos">
				<a class="nav-link d-inline" data-toggle="collapse" href="#proyectosIndividuales" role="button" aria-expanded="false" aria-controls="collapseExample">
					<i class="icon fa fa-folder-open-o"></i>
					<span>Proyectos</span>
				</a>
				<div class="collapse pl-4 mt-2" id="proyectosIndividuales">
					<a class="nav-link p-0 Proyectos d-inline" href="/proyectos">
						<span class="text-left">Todos</span>
					</a>

					<% allProjects.forEach(proyecto => { %>
						<a class="nav-link p-0 Proyectos d-inline" href="/proyecto/<%- proyecto.id_proyecto %>/">
							<div class="text-left my-2">
								<%- proyecto.nombre_proyecto %>
							</div>
						</a>
					<% }); %>

				</div>
			</li>

			<!-- Perfil -->
			<li class="nav-item mb-4">
				<a class="nav-link d-inline" href="/profile">
					<i class="icon fas fa-user"></i>
					<span id="Abajo" class="m-0">Perfil</span>
				</a>
			</li>

			<!-- Logout -->
			<li class="nav-item mb-4">
				<a class="nav-link d-inline" href="/login/logout">
					<i class="icon fa fa-sign-out"></i>
					<span>Cerrar sesión</span>
				</a>
			</li>

		</ul>

		<button class="btn btn-link mr-3 fs-5 buttonToggler position-fixed d-block" id="sidebarToggleTop" type="button">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="fs-3 bi bi-arrow-left-circle m-1 iconToggler" viewBox="0 0 16 16">
				<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
			</svg>
		</button>
	</div>
</nav>