<nav class="navbar navbar-light navbar-expand shadow mb-4 topbar static-top">
	<div class="container-fluid">

		<ul class="navbar-nav flex-fill justify-content-center flex-nowrap m-auto nav-fill">
			
			<!-- General -->
			<li class="nav-item">
				<a class="nav-link active justify-content-center" href="/proyecto/<%- proyecto.id_proyecto %>/">General</a>
			</li>
			<!-- Puntos Agiles -->
			<li class="nav-item">
				<a class="nav-link justify-content-center" href="/proyecto/<%- proyecto.id_proyecto %>/puntos-agiles">WBS</a>
			</li>
			<!-- Casos de Uso -->
			<li class="nav-item">
				<a class="nav-link justify-content-center" href="/proyecto/<%- proyecto.id_proyecto %>/casos-uso">Casos de uso</a>
			</li>
			<!-- Airtable -->
			<li class="nav-item">
				<a class="nav-link justify-content-center" href="/proyecto/<%- proyecto.id_proyecto %>/airtable">Airtable</a>
			</li>

		</ul>

	</div>
</nav>