<%- include('./includes/head')%>

<body id="page-top">
	<div id="wrapper">
		<%- include('./includes/sidebar')%>
		<div class="d-flex flex-column" id="content-wrapper">
			<div id="content">
				<div class="container-fluid">
					<div class="row px-4 mt-3">
						<div class="col">
							<h3 class="text-dark mb-0">Dashboard</h3>
							<p>Consulta tu desempeño a lo largo de los proyectos en los que has trabajado</p>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-7 col-xl-8">
							<div class="card shadow mb-4">
								<div class="card-header d-flex justify-content-between align-items-center">
									<h6 class="text-light font-weight-bold m-0">Avance mis proyectos</h6>
									<div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle"
											aria-expanded="false" data-toggle="dropdown" type="button"><i
												class="fas fa-ellipsis-v text-gray-400"></i></button>
										<div class="dropdown-menu shadow dropdown-menu-right animated--fade-in">
											<p class="text-center dropdown-header">dropdown header:</p><a
												class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item"
												href="#">&nbsp;Another action</a>
											<div class="dropdown-divider"></div><a class="dropdown-item"
												href="#">&nbsp;Something else here</a>
										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="chart-area"><canvas
											data-bss-chart="{&quot;type&quot;:&quot;bar&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;Proyecto 1&quot;,&quot;Proyecto 2&quot;,&quot;Proyecto 3&quot;,&quot;Proyecto 4&quot;,&quot;Proyecto 5&quot;,&quot;Proyecto 6 &quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;% Avance&quot;,&quot;backgroundColor&quot;:&quot;#4e73df&quot;,&quot;borderColor&quot;:&quot;#4e73df&quot;,&quot;data&quot;:[&quot;75&quot;,&quot;20&quot;,&quot;100&quot;,&quot;65&quot;,&quot;83&quot;,&quot;92&quot;]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:false,&quot;legend&quot;:{&quot;display&quot;:false},&quot;title&quot;:{},&quot;scales&quot;:{&quot;xAxes&quot;:[{&quot;gridLines&quot;:{&quot;color&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;zeroLineColor&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;drawBorder&quot;:false,&quot;drawTicks&quot;:false,&quot;borderDash&quot;:[&quot;2&quot;],&quot;zeroLineBorderDash&quot;:[&quot;2&quot;],&quot;drawOnChartArea&quot;:false},&quot;ticks&quot;:{&quot;fontColor&quot;:&quot;#858796&quot;,&quot;beginAtZero&quot;:true,&quot;padding&quot;:20}}],&quot;yAxes&quot;:[{&quot;gridLines&quot;:{&quot;color&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;zeroLineColor&quot;:&quot;rgb(234, 236, 244)&quot;,&quot;drawBorder&quot;:false,&quot;drawTicks&quot;:false,&quot;borderDash&quot;:[&quot;2&quot;],&quot;zeroLineBorderDash&quot;:[&quot;2&quot;]},&quot;ticks&quot;:{&quot;fontColor&quot;:&quot;#858796&quot;,&quot;beginAtZero&quot;:true,&quot;padding&quot;:20}}]}}}"></canvas>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-5 col-xl-4">
							<div class="card shadow mb-4">
								<div class="card-header d-flex justify-content-between align-items-center">
									<h6 class="text-white font-weight-bold m-0">Tareas asignadas</h6>
									<div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle"
											aria-expanded="false" data-toggle="dropdown" type="button"><i
												class="fas fa-ellipsis-v text-gray-400"></i></button>
										<div class="dropdown-menu shadow dropdown-menu-right animated--fade-in">
											<p class="text-center dropdown-header">dropdown header:</p><a
												class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item"
												href="#">&nbsp;Another action</a>
											<div class="dropdown-divider"></div><a class="dropdown-item"
												href="#">&nbsp;Something else here</a>
										</div>
									</div>
								</div>
								<div class="card-body">
									<div class="chart-area"><canvas
											data-bss-chart="{&quot;type&quot;:&quot;doughnut&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;Direct&quot;,&quot;Social&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;&quot;,&quot;backgroundColor&quot;:[&quot;#4e73df&quot;,&quot;#1cc88a&quot;],&quot;borderColor&quot;:[&quot;#ffffff&quot;,&quot;#ffffff&quot;],&quot;data&quot;:[&quot;15&quot;,&quot;20&quot;]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:false,&quot;legend&quot;:{&quot;display&quot;:false},&quot;title&quot;:{}}}"></canvas>
									</div>
									<div class="text-center small mt-4"><span class="mr-2"><i
												class="fas fa-circle text-primary"></i>Pendientes</span><span
											class="mr-2"><i
												class="fas fa-circle text-success"></i>&nbsp;Completadas</span></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
<%- include('./includes/footer')%>
