
<%- include('./includes/head')%>

<body id="page-top" class="d-flex container-fluid pl-0 ml-0 bg-gris-fondo">
    <%- include('./includes/sidebar')%>
	<div class="d-flex flex-column" id="content-wrapper">
        <div class="row text-center">
            <div class="col pt-3">
                <img id="img-error404" class="img-responsive" src="/img/Error404.png" alt="Error 404">
            </div>
        </div>
<%- include('./includes/footer')%>
