
<%- include('./includes/head')%>

<body id="page-top" class="d-flex container-fluid pl-0 ml-0 bg-gris-fondo">
	<div class="d-flex flex-fill container-fluid h-100 px-2">
		<div class="container-fluid p-0 m-0">
			<div class="row">
				<div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-4 p-4 col-xs-12"><img class="img-fluid pb-5"
						src="/img/logo-natgas-white.png">
					<form class="text-center px-4">
						<input class="border rounded form-control my-4 mb-5 bg-transparent" type="text"
							placeholder="Username" name="usuario">
						<input class="border rounded border-light form-control my-4 bg-transparent" type="password"
							placeholder="Password" name="password">
						<button class="btn my-5 w-25 bg-verde-oscuro text-white" type="submit">Login</button>
						<button
							class="btn my-5 w-25 bg-verde-oscuro text-white"
							type="button" data-toggle="modal" data-target="#Registro"><label class="m-0">Registrarse</label></button>
						<div class="modal fade" id="Registro" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
							aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered" role="document">
								<div class="modal-content bg-dark text-almostWhite">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLongTitle">Registro</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span class="text-light" aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<form action="proyectos" method="POST">
											<label for="NombreProyecto">Nombre completo</label>
											<input type="text" class="form-control bg-transparent text-almostWhite form-input"
												id="NombreProyecto" placeholder="Nombre del proyecto" name="nombreUsuario" placeholder="Nombre Completo">
											<div class="form-group">
											</div>
											<div class="form-group">
												<label for="NombreCliente">Correo</label>
												<input type="email" class="form-control bg-transparent text-almostWhite form-input"
													id="NombreCliente" name="correo" placeholder="Correo">
											</div>
											<div class="form-group">
												<label for="NombreCliente">Contrase単a</label>
												<input type="password" class="form-control bg-transparent text-almostWhite form-input" id="NombreCliente" name="correo"
													placeholder="Contrase単a">
											</div>
											<div class="form-group">
												<label for="NombreCliente">Confirmar contrase単a</label>
												<input type="password" class="form-control bg-transparent text-almostWhite form-input" id="NombreCliente"
													name="correo" placeholder="Confirmar contrase単a">
											</div>
									</div>
						
						
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
										<input type="submit" value="Guardar" class="btn btn-primary">
									</div>
									</form>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div id="fondo-login"
					class="col-auto col-sm-6 col-md-7 col-lg-8 col-xl-8 d-none d-sm-flex d-md-flex d-lg-flex d-xl-flex m-0 bg-image">
				</div>
			</div>
<%- include('./includes/footer')%>
