.navbar.navbar-dark.sidebar.sidebar-dark.accordion.bg-gradient-primary {
  background: #2f3136;
}

#Sidebar {
  background-color: #2f3136;
}

 #Sidebar .sidebar-header #logo-simple{
  display: none;
}

#Sidebar.toggled .sidebar-header #logo-completo{
  display: none;
}

#Sidebar.toggled .sidebar-header #logo-simple{
  display: block;
}

h3 {
  color: rgba(231, 231, 232);
  padding-top: 0;
  margin-top: 1.5rem;
}

.text-dark {
  color: #e7e7e8!important;
} 

img, svg {
  vertical-align: middle;
  margin-top: 2em;
  margin-bottom: 2em;
}

.card-body {
  flex: 1 1 auto;
  min-height: 2em;
  padding: 1.25rem;
  width: 92.8%;
  margin: auto;
  color: #e7e7e7;
}

.Proyectos {
  margin-top: 2em;
  margin-bottom: 1em;
}

#Abajo {
  margin-top: 10em;
}

.progress {
  margin-bottom: 1.25rem;
}

.card {
  margin-top: 1em;
}

#content {
  background-color: #36393f;
}

.card-body {
  background-color: #4f545c;
}

.card-body {
  border: #36393f;
}

.card-group {
  border: #36393f;
}

.card {
  background-color: #36393f;
}

.card {
  border: #36393f;
}

.centrado {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sidebar-dark .nav-item .nav-link.active, .sidebar-dark .nav-item .nav-link.active i, .sidebar-dark .nav-item .nav-link:active, .sidebar-dark .nav-item .nav-link:active i, .sidebar-dark .nav-item .nav-link:focus, .sidebar-dark .nav-item .nav-link:focus i, .sidebar-dark .nav-item .nav-link:hover, .sidebar-dark .nav-item .nav-link:hover i {
  color: #fff;
}

.sidebar .nav-item .nav-link.active {
  font-weight: 700;
}

.sidebar .nav-item .nav-link.active {
  font-weight: 700;
}

.Proyectos {
  margin-top: 0em;
}

body {
  margin: 0;
  font-family: Nunito,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #858796;
  text-align: left;
  background-color: #fff;
}

.card-header:first-child {
  border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;
  background: rgb(47,49,54);
  width: 92.8%;
  margin: auto;
}

.card-header {
  border-bottom-width: 5px;
  border-bottom-color: rgb(54,57,63);
}

div#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #e9e9e9;
  height: 100%;
  width: 100%;
}

div#container > div {
  background-color: orange;
  width: 100px;
  height: 20px;
  margin: 1px;
}

.natgas-green {
  color: #4aad47 !important;
}

.bg-gris-fondo {
  background: #36393f;
}

.bg-grisSideBar {
  background: #2f3136;
}

.bg-verde-oscuro {
  background-color: #488753;
}

#fondo-login {
  background-image: url('../img/ImagenVerde.png'); 
  height: 100vh
}

#fondo-error {
  background-image: url('../img/Error404.png'); 
  height: 100vh
}

#img-error404 {
  width: 80%;
}

.form-input {
  background: transparent;
  color: #e9e9e9;
}

.form-input:focus {
  color: #e9e9e9;
}

.form-control {
  color: #e9e9e9;
}

.border-gris {
  border: solid 2px #5a5c69!important;
}

.text-almostWhite {
  color: #e9e9e9;
}

.bg-tab.active {
  background-color: rgb(90, 92, 105) !important;
}

.bg-tab {
  background-color: #2f3136;
}

.tabsPA:active {
  background-color: #5a5c69 !important;
}

.table-PA input {
  max-width: 50px;
  background-color: transparent !important;
  color: #e9e9e9;
  border-radius: 5%;
  border: 2px solid #4d5055;
}

.buttonToggler {
  bottom: 20px;
}

.sidebar.toggled #sidebarToggleTop {
  transform: rotate3d(0, 1, 0, -180deg) !important;
}

.sidebar.toggled #tab-proyectos #proyectosIndividuales {
  display: none;
}

.icon {	
  margin-right: 0.65rem !important;
}

.nav-link {
  margin-bottom: 0 !important;
}

#btn-CU{
  color: #eee !important;
}

/* #btn-CU:hover{
  !important;
} */